body{
    font-family: cambria;
    background: #eee;
    font-size: 70%;
    margin: auto 3%;
    max-width: 100%;
    height: auto;
    color: #333;
    text-align: justify;
}
p{
    font-size: 0.8em;
    margin-top: -1%;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.3em;
    color: rgb(86, 86, 214);
}
em{
    font-size: 0.7em;
    color: #333;
}
ul li{
    font-size: 0.9em;
}
span{
    font-weight: bold;
}
img{
    align-content: center;
    margin: 3em 0 2em 33%;
    height: 12.5em;
    width: 33%;
}
#personal h1{
    border-bottom: 5px solid #333;
    padding: 0 0 2px 0;
    font-size: 3em;
}
#personal a{
    text-decoration: none;
    color: rgb(86, 86, 214);
}
#personal a:hover{
    color: rgb(4, 4, 95);
    text-decoration: underline;
}
#details p{
    text-transform: uppercase;
}
.awards-large{
    display: none;
}
.contact-me form{
    margin-left: -10%;
}
.contact-me ul li{
    list-style-type: none;
    padding: 1em;
}
.contact-me input[type="text"]{
    width: 50%;
    height: 1.5em;
}
.contact-me input[type="email"]{
    width: 50%;
    height: 1.5em;
}
.contact-me input[type="submit"]{
    width: 30%;
    height: 2.5em;
    margin: 3%;
    background: rgb(86, 86, 214);
    border: none;
    border-radius: 1em;
    color: #fff;
}
.contact-me input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(4, 4, 95); 
}
.contact-me input[type="reset"]:hover{
    cursor: pointer;
    background: #333;
    color: #fff;
    border: none;
}
.contact-me textarea{
    resize: none;
}
 @media screen and (min-width: 47.5em){
    body{
        font-size: 100%;
    }
    img{
        border-radius: 60%;
        margin-top: 1em;
        height: 20em;
        max-width: 100%;
        float: right;
        margin-right: 3%;
    }
    #content{
        max-width: 1024px;
        margin: auto;
    }
    #personal{
        width: 60%;
        margin-top: 2em;
        margin-right: 3%;
    }
    #personal h1{
        font-size: 3em;
        white-space: nowrap;   
    }
    #personal h1 + p{
        font-size: 1em;
    }
    #details{
        clear: right;
        width: 100%;
    }
    .skills{
        float: right;
        width: 30%;
        margin-top: 0;
    }
    .awards-large{
        display: block;
    }
    .exp-and-edu{
        width: 60%;
        margin-right: 10%;
    }
    .awards{
        display: none;
    }
    .contact-me form{
        margin-left: -15%;
    }
    .contact-me input[type="text"]{
        width: 85%;
    }
    .contact-me input[type="email"]{
        width: 85%;
    }
    .contact-me input[type="submit"]{
        width: 50%;
        margin: 3% 4% 0 4%;
    }
    .contact-me textarea{
        width: 100%;
    }
}